# ===== LaTeX compilación =====
*.aux
*.lof
*.lot
*.toc
*.out
*.log
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdy

# PDF generado principal
main.pdf

# ===== Sistema / IDE =====
Thumbs.db
desktop.ini
.DS_Store
.vscode/
.claude/git status
